{% extends 'base.html' %}
{% block content %}
<br><br>
    <div class="table-responsive">
        <h3>Car Refuels</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Fuel Type</th>
                    <th>Pence per Litre</th>
                    <th>Litres Filled</th>
                    <th>Total Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refuel in refuels|dictsortreversed:"date" %}
                    <tr>
                        <td>{{ refuel.date|date:'d M Y' }}</td>
                        <td>{{ refuel.fuel_type }}</td>
                        <td>{{ refuel.pence_per_litre }}p</td>
                        <td>{{ refuel.litres_filled }}L</td>
                        <td>£{{ refuel.total_cost }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm edit-refuel" data-refuel-id="{{ refuel.id }}">Edit</button>
                            <button class="btn btn-danger btn-sm delete-refuel" data-refuel-id="{{ refuel.id }}" data-csrf-token="{{ csrf_token }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="pagination">
        <p class="step-links">
            {% if refuels.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ refuels.previous_page_number }}">Previous</a>
            {% endif %}

            <p class="current">
                &ensp; Page {{ refuels.number }} of {{ refuels.paginator.num_pages }} &ensp;
            </p>

            {% if refuels.has_next %}
                <a href="?page={{ refuels.next_page_number }}">Next</a> &ensp;
                <a href="?page={{ refuels.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </p>
    </div>
    <div class="container mt-5">
        <h3 class="mb-4">Add Refuel</h3>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the following errors:
                    <ul>
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date"><span>*</span>Date:</label>
                        <input type="date" class="form-control" id="date" name="date">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="fuel_type"><span>*</span>Fuel Type:</label>
                        <input type="text" class="form-control" id="fuel_type" name="fuel_type">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="litres_filled"><span>*</span>Litres Filled: <span class="field-hint">(xx.xx)</span></label>
                        <input type="number" class="form-control" id="litres_filled" name="litres_filled" step="0.01">
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pence_per_litre"><span>*</span>Pence per Litre: <span class="field-hint">(xxx.x)</span></label>
                        <input type="number" class="form-control" id="pence_per_litre" name="pence_per_litre" step="0.01">
                        <br>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
{% endblock %}
