{% extends 'base.html' %}
{% block content %}
<br><br>
    <div class="table-responsive">
        <h3>Car Refuels</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Fuel Type</th>
                    <th>Pence per Litre</th>
                    <th>Litres Filled</th>
                    <th>Total Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refuel in refuels%}
                    <tr>
                        <td>{{ refuel.date|date:'d M Y' }}</td>
                        <td>{{ refuel.fuel_type }}</td>
                        <td>{{ refuel.pence_per_litre }}p</td>
                        <td>{{ refuel.litres_filled }}L</td>
                        <td>£{{ refuel.total_cost }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm edit-refuel" data-refuel-id="{{ refuel.id }}">Edit</button>
                            <button class="btn btn-danger btn-sm delete-refuel" data-refuel-id="{{ refuel.id }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container mt-5">
        <h3 class="mb-4">Add Refuel</h3>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the following errors:
                    <ul>
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date"><span>*</span>Date:</label>
                        <input type="date" class="form-control" id="date" name="date">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="fuel_type"><span>*</span>Fuel Type:</label>
                        <input type="text" class="form-control" id="fuel_type" name="fuel_type">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="litres_filled"><span>*</span>Litres Filled:</label>
                        <input type="number" class="form-control" id="litres_filled" name="litres_filled" step="0.01">
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pence_per_litre"><span>*</span>Pence per Litre:</label>
                        <input type="number" class="form-control" id="pence_per_litre" name="pence_per_litre" step="0.01">
                        <br>
                    </div>
                    <!-- <div class="form-group">
                        <label for="total_cost"><span>*</span>Total Cost:</label>
                        <input type="number" class="form-control" id="total_cost" name="total_cost" step="0.01">
                        <br>
                    </div> -->
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.delete-refuel').click(function() {
                var refuelId = $(this).data('refuel-id');
                if (confirm('Are you sure you want to delete this refuel session?')) {
                    $.ajax({
                        url: window.location.pathname + refuelId + '/',  // Include refuel ID in URL
                        type: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(result) {
                            window.location.reload();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
